
@media screen and (max-width: 2000px) {
    body{
        background-color: #E6C700;
        font-family: Corbel, sans-serif;
    }
    /* Hide the menu by default */
.menu ul {
    display: none;
}

/* Style for the menu toggle button */
.menu-toggle {
    display: block;
    text-align: center;
    cursor: pointer;
}

/* Style for the menu items */
.menu li {
    display: block;
    text-align: center;
    padding: 10px;
}
   
    
}

@media screen and (max-width: 950px) {

    body{
        background-color: #E6C700;
        font-family: Corbel, sans-serif;
        border: 2px solid beige;
        padding: 1%;
        font-style: italic;
    }

    header h1{
        font-size: 25px;
        text-align: center;
        width: 98%; 
        margin-top: 5%;
        background-color: beige;
        padding: 1%;
        border-radius: 10%;
    }

    header h3 {
        font-size: 18px;
        text-align: center;
        width: 100%; 
    }

    header h4 {
        font-size: 14px;
        text-align: center;
        width: 100%; 
        background-color: beige;
        border-radius: 10%;
    }

    .dp-menu ul {
        list-style-type:none;
        padding: 0;
        text-align: center;
    }

    .dp-menu ul li{
        display:inline-block;
    }

    .dp-menu ul li a{
        color: black;
        text-decoration: underline;
        padding: 10px;  
    }
    .dp-menu a{
        color: black;
        text-decoration: underline;
        padding: 10px;  
    }

    .titulo {
        text-align: center;
        font-size: 13px;
        margin-top: 4%;
        background-color: beige;
        border-radius: 10%;
    }

    .titulo h1{
        font-size: 33px;
        padding: 1%;
    }

    .titulo h2{
        margin-top: -5%;
    }

    .titulo p{
        font-size: 15px;
        margin-top: -2%;
    }

    .textomaior h1 {
        font-size: 22px;
        border-radius: 10%;
        width: 95%;
        background-color: beige;
        padding: 1%;
        
    }

    .textomaior p{
        font-size: 15px;
        border-radius: 1%;
        padding: 1%;
        width: 98%;
        background-color: beige;
    }

    .papa h1{
        text-align: center;
        background-color: beige;
        padding: 1%;
        border-radius: 10%;
    }

    .papa img{
        width: 35%;
        height: 35%;
        margin-left: 32.3%
    }

    .papa p{
        font-size: 15px;
        text-align: center;
        border-radius: 10%;
        padding: 1%;
        background-color: beige;
    }

    .bypablo {
        text-align: center;
        font-size: 15px;
        background-color: beige;
        margin-top: 5%;
        margin-bottom: -5%
    }

    
}





