@media screen and (max-width: 950px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #022754;
        border: 2px solid white;
        width: 96%;
        margin: 8px;
        display: block;
    }

    .cabecalho p{
        font-size: 11px;
        color: white;
        font-family: "Lucida Console", "Courier New", monospace;
        text-align: center;
        margin-top: 3%;
    }

    header {
        position: relative;
    }

    .espacamento span{
        margin-right: 3px;
    }
    
    header h1 {
        color: white;
        font-size: 20px;
        font-family: Papyrus, fantasy;
        text-align: left;
        width: 76%;
        margin-top: 6%;
        margin-left: 2%;
        font-style: italic;
        z-index: 1;
        border-bottom: 2px solid white;
    }

    header h3 {
        font-size: 19px;
        color: white;
        font-family: Papyrus, fantasy;
        text-align: left;
        margin-left: 2%;
        margin-top: 6%;
        width: 95%;
        position: relative; 
        z-index: 1; 
    }

    header h4 {
        font-size: 14px;
        text-align: left;
        width: 75%;
        margin-left: 2%;
        border-radius: 10%;
        margin-top: 6%;
        margin-bottom: 10%;
        position: relative;
        z-index: 1; 
        color: white;
        font-family: Papyrus, fantasy;
        border-bottom: 2px solid white;
    }

    .dp-menu ul {
        padding: 0;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid white;
    }

    .dp-menu li {
        display: inline-block;
        text-align: left;
        margin-right: 4%;
        margin-left: 3%;
        margin-bottom: 1%;
    }

    .dp-menu a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        text-decoration: underline;
        font-family: Papyrus,fantasy;    
    }

    .dp-menu a:hover {
        color: rgb(253, 253, 253);
    }

    #nomevisitante{
        font-size: 28px;
        color: white;
        text-align: center;
        font-family: Papyrus, fantasy;
        margin-top: 5%;
    }

    .titulo h1 {
        text-align: center;
        font-size: 33px;
        font-family: Papyrus, fantasy;
        color: white;
        border-top: 2px solid white;
        width: 100%;
        margin-top: 8%;
        margin-bottom: 10%;
    }

    .titulo h2 {
        font-size: 17px;
        font-family: Papyrus, fantasy;
        text-align: center;
        color: white;
        margin-top: -8%;
        width: 100%;
    }

    .titulo p {
        text-align: center;
        color: white;
        margin-left: 0%;
        width: 100%;
        font-family: Papyrus, fantasy;
        font-size: 15px;
        margin-top:1%;
        border-bottom: 2px solid white;
        margin-bottom: 3%;
    }
    
    .textomaior h1{
        font-size: 22px;
        font-family: Papyrus, fantasy;
        text-align: center;
        color: white;
        margin-top: 3%;
        margin-bottom: 1%;
    }
    
    .textomaior p {
        font-size: 15px;
        width: 97%;
        margin-left: 1.5%;
        padding: 1%;
        background-color: white;
        border-radius: 1%;
    }

    #bordaacimadopadrepaulo{
        border-top: 2px solid white;
        width: 100%;
        margin-top: 3%;
    }

    .titulopauloricardo h2{
        font-size: 22px;
        font-family: Papyrus, fantasy;
        text-align: center;
        color: white;
        margin-top: 3%;
        margin-bottom: 1%;
    
    }

    #videopadrepaulo{
        width: 98%;
        height: 100%;
        margin-top: 3%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
    }

    .titulosantos{
        font-size: 22px;
        font-family: Papyrus, fantasy;
        text-align: left;
        color: white;
        margin-top: 3%;
        margin-left: 2%;
        margin-bottom: 5%;
    }
    .divisormariafrancisco{
        margin-bottom: 15%;
    }

    #fotonossasenhora{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulosantamaria{
        font-size: 22px;
        color: white;
        margin-right: 6.5%;
    }

    #textomaria{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    #divisormariajose{
        margin-bottom: 15%;
    }

    #fotosaojose{
        height: 100%;
        width: 45%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulosaojose{
        font-size: 22px;
        color: white;
        margin-right: 6.5%;
    }

    #textosaojose{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    #fotosaofrancisco{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulofrancisco{
        font-size: 22px;
        color: white;
        
    }

    #textofrancisco{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
        
    }

    .divisorfranciscobento{
        margin-top: 15%;
    }

    #fotosaobento{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulosaobento{
        font-size: 22px;
        color: white;
        
    }

    #textobento{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisorbentoagostinho{
        margin-top: 15%;
    }

    #fotosantoagostinho{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulosantoagostinho{
        font-size: 22px;
        color: white;
    }

    #textoagostinho{

        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisoragostinhotomas{
        margin-top: 15%;
    }

    #fotosaotomas{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulotomas{
        font-size: 22px;
        color: white;
    }

    #textotomas{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisortomasluzia{
        margin-top: 15%;
    }

    #fotosantaluzia{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #tituloluzia{
        font-size: 22px;
        color: white;
    }

    #textoluzia{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisorluziadavila{
        margin-top: 15%;
    }

    #fotodavila{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulodavila{
        font-size: 22px;
        color: white;
    }

    #textodavila{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisordavilasebastiao{
        margin-top: 15%;
    }

    #fotosebastiao{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulosebastiao{
        font-size: 22px;
        color: white;
    }

    #textosebastiao{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisorsebastiaoantonio{
        margin-top: 15%;
    }

    #fotoantonio{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #tituloantonio{
        font-size: 22px;
        color: white;
    }

    #textoantonio{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisorantoniojorge{
        margin-top: 15%;
    }

    #fotojorge{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulojorge{
        font-size: 22px;
        color: white;
    }

    #textojorge{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    .divisorjorgerita{
        margin-top: 15%;
    }

    #fotorita{
        height: 100%;
        width: 40%;
        margin-top: 3%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 10px;
        border: 2px solid white;
        float: left;
    }

    #titulorita{
        font-size: 22px;
        color: white;
    }

    #textorita{
        height: 60%;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        color: white;
        border: 2px solid white;
    }

    #rodape{
        color:#022754;
        margin-top: 5%;
        text-align: center;
        background-color: white;
        width: 98%;
        margin-left: 1%;
        margin-bottom: 1%;
    }

}